{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <title>{% block title%}{%endblock%}</title>
  </head>
  <body>
    <div class="ajuste">
      <nav>
        <h1 class="title-bar">Notask</h1>
        <div class="hidebar">
          <div class="bloco-mensagem">
            {% if request.user.is_authenticated %}
            <p class="mensagem-home">Olá, {{ request.user }}</p>
            <a href="{% url 'logout' %}" class="mensagem-home">Logout</a>
            {% else %}
            <div class="mensagem-home">Olá, você não está logado! Para acessar as suas tarefas e notas faça o login.</div>
            <a href="{% url 'login' %}" class="mensagem-home">Login</a>
            {% endif %}
          </div>
          <div class="botoes"><a href="{% url 'tarefas' %}"><button type="button" class="btn">Tarefas</button></a></div>
          <div class="botoes"><a href="{% url 'show' %}"><button type="button" class="btn">Notas</button></a></div>
          <div class="botoes"><button type="button" class="btn">Favoritos</button></div>
        </div>
      </nav>
      <div class="container">
      </div>
      <div class="note-bar">
        <div class="tasks">
          <a class="ancora-botao" href="{% url 'tarefa-create' %}"
            >
            <div class="botao-home">
              <div class="img-botao"><img
                class="img-task"
                src="https://www.svgrepo.com/show/341118/task.svg"
                width="50%"
            /></div>
            <div><p class="titulo-botao">Adicionar Tarefas</p></div>
            </div>
          </a>
        </div>
        <div class="notas">
          <a class="ancora-botao" href="{% url 'editor' %}"
            >
            <div class="botao-home">
              <div class="img-botao"><img
                class="img-note"
                src="https://www.svgrepo.com/show/7827/notes.svg"
                width="50%"
            /></div>
            <div><p class="titulo-botao">Adicionar Notas</p></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
