body{
    background-color: #ebecf0;
    font-family: 'Roboto';
}
.navbar_purple{
    background-color: #006E90;
    background-image: linear-gradient(#00475e, #006E90);
    color: #fff;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 3px 3px #002734;
  
}

.titulo{

    color: #fff;
    font-family: 'Roboto', cursive;
    font-size: 36pt;
    text-decoration: none;

    
}
.navbar_brand, .navbar_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 56px;
}
.navbar_newnote{
    color: #fff;
    font-family: 'Roboto', cursive;
    font-size: 16pt;
    text-decoration: none;
  
}
.alinha{
    display: flex;
    flex-direction: row;
}
.memoria{
    width: 28%;
}
.input{
   
    width: 72%;
    height: 100%;
}
.section{
    display: flex;
    height: 100%;
}
.lista{
    list-style-type: none;
    text-decoration: none;
}
.menu_label{
    font-family: 'Roboto', cursive; 
    font-size: medium;
    font-weight: 300;
    color: #0a0a10;
    margin: 30px 40px;
}
.input_titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    color: #0a0a10;
    font-weight: 400;
    margin-top: 20px;

}

.input_control{
    border: solid 1px rgb(182, 182, 182);
    border-radius: 5px;
    width: 200px;
}
.input_content{
    border: solid 1px rgb(182, 182, 182);
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

.save{
    background-color: #006E90;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.listar_arquivo{
    color: #adabad;
    list-style: none; 
    text-decoration: none;

}
.delete{
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
    font-weight:700
}
.btn-delete{
    background-color: #006E90;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;

}
.nota.title{
    color: aqua;
}
.bloco{
    width: 100px;
    height: 100px;
    background-color: #e0d55a;
}
