body{
    background-color: #ebecf0;
}
.navbar_purple{
    background-color: #6B62E5;
    color: #fff;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
  
}
.titulo{

    color: #fff;
    font-family: 'Roboto', cursive;
    font-size: 36pt;
    text-decoration: none;

    
}
.navbar_brand, .navbar_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 56px;
}
.navbar_newnote{
    color: #fff;
    font-family: 'Roboto', cursive;
    font-size: 16pt;
    text-decoration: none;
  
}
.alinha{
    display: flex;
    flex-direction: row;
}
.memoria{
    width: 28%;
}
.input{
   
    width: 72%;
    height: 100%;
}
.section{
    display: flex;
    height: 100%;
}
.lista{
    list-style-type: none;
    text-decoration: none;
}
.menu_label{
    font-family: 'Roboto', cursive; 
    font-weight: 300;
    color: #6B62E5;
    margin: 30px 40px;
}
.input_titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    color: #6B62E5;
    font-weight: 400;
    margin-top: 20px;

}

.input_control{
    border-color: #62e5e3;
    border-radius: 5px;
    width: 200px;
}
.input_content{
    border-color: #62e5e3;
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

.save{
    background-color: #0ac4c0;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
}