{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notas</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/note.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar_purple">
            <div class="navbar_brand">
                <h1 class="titulo">Notas</h1>
            </div>

            <div class="navbar_menu">
                <div class="navbar-end">
                    <a href="{% url 'editor' %}?noteid=0" class="navbar_newnote">Nova Nota</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="memoria">
                <div class="columns">
                    <div class="lista_notas">
                        <aside class="menu">
                            <p class="menu_label">Arquivo</p>

                            <ul style="list-style: none; text-decoration: none;">
                                {% for note in notes %}
                                    <li>
                                        <a href="{% url 'editor' %}?noteid={{ note.id }}">{{ note.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>

            <div class="input">
                    <div class="column_is_10">
                        <form method="post" action="{% url 'editor' %}">
                            {% csrf_token %}

                            <input type="hidden" name="noteid" value="{{ noteid }}">

                            <div class="field">
                                <label class="input_titulo">
                                    Título

                                    {% if note %}
                                        <span class="has-text-grey-light">
                                            Created at: {{ note.created_at|date:"m/d Y" }} / 
                                            Modified at: {{ note.modified_at|date:"m/d Y" }}
                                        </span>
                                    {% endif %}
                                </label>

                                <div class="control">
                                    <input type="text" class="input_control" name="title" placeholder="Title"{% if note %} value="{{ note.title }}"{% endif %}>
                                </div>
                            </div>

                            <div class="field">
                                <label class="input_titulo">Texto</label>

                                <div class="control">
                                    <textarea class="input_content" name="content" placeholder="Content">{% if note %}{{ note.content }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <a href="{% url 'show' %}"><button type="submit" class="save">Save</button></a>
                                </div>
                                {% if note %}
                                    <div class="control">
                                        <a href="{% url 'delete_note' note.id %}" class="delete"><button type="submit">Delete</button></a>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
            </div>
        </section>
    </body>
</html> 