* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.ajuste {
  width: 100%;
  height: 100%;
  display: flex;
}
nav {
  width: 20%;
  height: 100%;
  background-color: #292f4c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container {
  width: 60%;
  height: 100%;
  background-color: #ebecf0;
}

.bloco-mensagem {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
  gap: 30px;
}

.mensagem-home {
  color: #ebecf0;
  font-family: 'Ubuntu', sans-serif;
}

.hidebar {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title-bar {
  color: #ffffff;
  text-align: center;
  margin-top: 7%;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

.title-block {
  font-family: 'Ubuntu', sans-serif;
}

.botoes {
  height: 8%;
  text-align: center;
}

.btn {
  background-image: radial-gradient(#6b62e5, #5951d1, #44407e);
  color: white;
  margin-bottom: 15%;
  height: 100%;
  width: 80%;
  background-color: #6b62e5;
  font-weight: 900;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  align-self: center;
  border: solid #48438b 8px;
  box-shadow: 0px 0px 9px 5px #201c54;
  border-radius: 15px;
}

.btn:hover {
  background-image: radial-gradient(#7e78d1, #625adf, #474478);
  font-family: 'Ubuntu', sans-serif;
  border: solid #48438b 8px;
  box-shadow: 0px 0px 9px 5px #564dd1;
  width: 75%;
  height: 95%;
  cursor: pointer;
}

.note-bar {
  width: 20%;
  height: 100%;
  background-color: #006e90;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blocao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #ffffff, rgb(245, 245, 245), white, #ffffff, #EBECF0);
}
.bloquinhos {
  height: 25%;
}

.tasks, .notas {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-note {

}
.img-task {
  width: 60%;
}

.botao-home {
  background-image: radial-gradient(#15a3d1, #0087b1c2, #00485e);
  width: 320px;
  height: 320px;
  margin: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid #00485e 13px;
  box-shadow: 0px 0px 9px 5px #003241;
}

.botao-home:hover {
  background-image: radial-gradient(#57ccf3, #009dcec2, #004e65);
  width: 310px;
  height: 310px;
  margin: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid #00485e 13px;
  box-shadow: 0px 0px 18px 6px #83d4ed;
}

.titulo-botao {
  text-decoration:solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
}

.ancora-botao {
  text-decoration: none;
}

.img-botao {
  display: flex;
  justify-content: center;
}